<head>
    <style>
        * {
            box-sizing: border-box;
            outline: none;
            list-style: none;
            text-decoration: none;
            font-family: 'Josefin Sans', sans-serif;
        }

        body {
            background: #ffffff;
        }

        .outline_ {
            padding: 35px 40px;
        }

        .wrapper {
            max-width: 400px;
            width: 100%;
            height: auto;
            max-height: 320px;
            position: absolute;
            margin-top: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: #ffffff;
            box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
        }

            .wrapper .tabs ul {
                width: 100%;
                margin-bottom: 30px;
                box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
                display: flex;
            }

                .wrapper .tabs ul li {
                    width: 50%;
                    padding: 15px 0;
                    text-align: center;
                    font-size: 14px;
                    color: #51c2a9;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    cursor: pointer;
                    position: relative;
                    transition: all 0.5s ease;
                }

                    .wrapper .tabs ul li.active {
                        background: #ffffff;
                        color: rgb(0, 0, 0);
                        box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
                    }

            .wrapper .input_field {
                margin-bottom: 25px;
            }

                .wrapper .input_field .input {
                    width: 100%;
                    border: none;
                    background: #ffffff;
                    color: black;
                    font-family: sans-serif;
                    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
                    font-size: 14px;
                    padding: 17px;
                    border-radius: 10px;
                }

            .wrapper .btn {
                margin-top: 30px;
                background: #ffffff;
                box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
                padding: 12px;
                text-align: center;
                border-radius: 10px;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: bold;
            }

                .wrapper .btn:hover {
                    color: #3498db;
                    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
                }

                .wrapper .btn a {
                    color: rgb(0, 0, 0);
                    display: block;
                    font-size: 16px;
                    font-family: sans-serif;
                }

            .wrapper .btn_ {
                background: #ffffff;
                border: none;
                letter-spacing: 3px;
                font-weight: bold;
                font-size: 16px;
                font-family: sans-serif;
                text-transform: uppercase;
            }

            .wrapper .select {
                margin-top: 30px;
                background: #ffffff;
                border: none;
                box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
                padding: 12px;
                text-align: center;
                border-radius: 10px;
                font-family: sans-serif;
            }

            .wrapper .btn_ {
                background: #ffffff;
                border: none;
                letter-spacing: 3px;
                font-weight: bold;
                font-size: 16px;
                font-family: sans-serif;
                text-transform: uppercase;
            }
    </style>
</head>
<div class="container">

    <div class="wrapper">
        <div class="outline_">

            <div class="tabs">
                <h2>Dodaj novu vrstu eventa!</h2>
                <br />
            </div>
            <form method="POST" enctype="multipart/form-data" asp-controller="Admin" asp-action="KreirajVrstu">
                <div class="sign_up">
                    <div class="input_field">
                        <input type="text" placeholder="Naziv" class="input" name="naziv">
                    </div>
                    <div class="btn"><input class="btn_" type="submit" name="kreirajVrstu" value="Dodaj" /></div>
                </div>
            </form>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
</div>